*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* Esta propiedad hace que el "modelo de caja" de css funcione de una forma mas lógica para nosotros. */
    font-size: 16px;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

header{
    height: 10vh;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

body{
    background-color: yellow;
}

.listas{
    margin: 3em;
   
}

.listas ul ol{
    display: flex;
}

header button{
    width: 12rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.33s;
    /* la propiedad transition siempre debe encontrarse en el estado inicial */
}

header button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1) rotate(360deg);
}

h1{
    font-size: 2.5vw;
    animation: animatetitle 3s infinite alternate;
    
}

h2{
    font-size: 1.5rem;
}

nav .menu-flex{
    background-color: rgb(129, 129, 206);
    list-style: none;
    padding: 1rem;
    /* gap: 1rem; */

    justify-content: space-around;
    display: flex;

}

nav .menu-flex a{
    background-color: black;
    border: 3px solid white;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.33s;
}

nav .menu-flex a:hover{
    border: 3px solid red;
    color: red;
    border-radius: 10px;
}

section h2{
    font-size: 3em;
    text-align: center;
}
a img{
    max-width: 25%;
}

/* GALLERY */

#gallery{
    background-color: bisque;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery .cont{
    display: grid;
    grid-template-columns: auto 50% auto;
    gap: 1rem;
}

#gallery .cont img{
    object-fit: cover;
    height: 100%;
}

/* ANIMATIONS */
@keyframes animatetitle {
    0%{
        color: aqua;
    }

    100%{
        color: rebeccapurple;
    }

}


/* MEDIA QUERY */

/* Dentro de los parentesis del media query definimos el breakpoint en pixeles */
@media screen and (max-width: 700px) {
   
    header{
        background-color: cyan;
    }
    
    h1{
        font-size: 1rem;
    }   
    
    nav .menu-flex{
        text-align: center;
        flex-direction: column;
        gap: 1rem;
    }
    
    section a img{
    display: none;
    }

    #gallery .cont{
        grid-template-columns: auto;
    }
}